@using WebApplication1.Models
@model List<TopScoredMatch>
@*	@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
        	$('#example').DataTable();
        });
	</script>
}*@
<body>
	<h1>Most points scored in a single match:</h1>


	<table id="example" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>MatchId</th>
				<th>Team1 Name</th>
				<th>Team1 Id</th>
				<th>Team1 Score</th>
				<th>Team2 Name</th>
				<th>Team2 Id</th>
				<th>Team2 Score</th>
				<th>Total Score</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var match in this.Model)
			{
				<tr>
					<td>@match.MatchId</td>
					<td>@match.Team1Name</td>
					<td>@match.Team1</td>
					<td>@match.Score1</td>
					<td>@match.Team2Name</td>
					<td>@match.Team2</td>
					<td>@match.Score2</td>
					<td>@match.Total</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<th>MatchId</th>
				<th>Team1 Name</th>
				<th>Team1 Id</th>
				<th>Team1 Score</th>
				<th>Team2 Name</th>
				<th>Team2 Id</th>
				<th>Team2 Score</th>
				<th>Total Score</th>
			</tr>
		</tfoot>
	</table>
</body>
